<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Project 29</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('get_posts') }}">My Posts</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('new_post') }}">Create Post</a>
        </li>
          <li class="nav-item">
           {% if user %}
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
          <a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
          <a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
      </ul>
      <form class="d-flex" method="POST">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchbar">
        <button class="btn btn-outline-success" type="submit" formaction="/search">Search</button>
      </form>
    </div>
  </div>
</nav>

        <div class="formwrapper" id="loginCard">
            <h2 class="title">Login</h2>
            <form method="POST" action="/login">
                <div class="form-field">{{ form.email.label }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </body>
</html>
